doctype 5
html
  head
    style code {background-color:#eeeeee;} p {font-size:15px}
  body
    div(style = "font-family:arial")
      h2(style = "color:#61B329") User Identifier
      p This input returns shortened version of URL:
      code https://benws-urlshortener.herokuapp.com/new/{URL}
      h4 Usage example:
      p Visit this URL to obtain your IP Address, software specs, and browser language setting:
      code https://benws-headerparser.herokuapp.com/whoami